footer
  .container.text-center
    p.pull-left © 2015 Syracuse University. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/beinan/') GitHub Projects
      li
        a(href='https://github.com/beinan/a_judge/issues') Issues